@model Test.Models.InsuranceAutoCitizen;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Коронозахист + </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/covid.css" />
</head>

<body>
    <div id="order">
        <div class="container">

            <form class="form-order" asp-action="covid" asp-controller="home">
                <div class="form-group">
                    <input type="text" asp-for="NSF" class="form-control" placeholder="Прізвище Ім'я По батькові" />
                </div>

                <div class="form-group">
                    <input type="date" asp-for="Date" id="datepicker" placeholder="Дата початку" class="form-control">
                </div>



                <div class="form-group">
                    <input type="submit" value="Відправити" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div id="explanation">
        <div class="container">
            <div class="row">
                <h1> Кому стане в нагоді в першу чергу? </h1>

                <div class="col-sm">
                    <img src="https://im0-tub-ru.yandex.net/i?id=13a1565ce4fc60f14db1af5e70a792b7&n=13&exp=1" width="450" height="500">
                </div>

                <div class="col-sm ">

                    <p>
                        <img src="https://x-clinic.ru/upload/medialibrary/2a9/2a9e5093931118970ad99b95dfa30b55.png" align="middle" border=0 class="virus_icon" width="60" height="40">
                        Тим, хто піклується про фінансове і фізичне здоров'я своєї сім'ї
                    </p>
                    <p>
                        <img src="https://x-clinic.ru/upload/medialibrary/2a9/2a9e5093931118970ad99b95dfa30b55.png" align="middle" border=0 class="virus_icon" width="60" height="40">
                        Особливо тим, хто працює в тісному контакті з великою кількістю людей

                    </p>  <p>
                        <img src="https://x-clinic.ru/upload/medialibrary/2a9/2a9e5093931118970ad99b95dfa30b55.png" align="middle" border=0 class="virus_icon" width="60" height="40">
                        Особам, які мають хронічні захворювання

                    </p>  <p>
                        <img src="https://x-clinic.ru/upload/medialibrary/2a9/2a9e5093931118970ad99b95dfa30b55.png" align="middle" border=0 class="virus_icon" width="60" height="40">
                        Тим, хто працює і не може залишатися вдома на карантині
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div id="terms">
        <div class="container">
            <div class="row">
                <h1> Умови страхування </h1>
                <div class="col-sm">

                    <p>
                        <img src="https://img-android.lisisoft.com/imgmic/0/1/2310-i-com.chana.revisionTimer.jpg" align="bottom" border=0 class="virus_icon" width="100" height="100">
                        <h2>Термін страхування</h2> <br />6 місяців, не залежно від карантинного режиму в Україні
                    </p>
                </div>

                <div class="col-sm">

                    <p>
                        <img src="https://www.pngkey.com/png/full/386-3866881_children-family-father-kids-mother-parents-icon-stick.png" align="bottom" border=0 class="virus_icon" width="100" height="100">
                        <h2>Застрахованим може бути</h2> <br />Будь-яка особа від 1 року до 60-ти років
                    </p>
                </div>
                <div class="col-sm">

                    <p>
                        <img src="https://img.icons8.com/nolan/2x/cash.png" align="bottom" border=0 class="virus_icon" width="100" height="100">
                        <h2>Страхове відшкодування</h2> <br />У разі екстреної госпіталізації  або летального випадку
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">



</script>