@{
    ViewData["Title"] = "Страхування";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
        <div class="title">
            <div class="comp_name">
                <span>Страхова компанія "Geek" </span>
                </div>
        </div>
        <div class="container main-content">
            <div class="row">

            <div class="responsive">
                <div class="gallery transform">
                    <a asp-controller="Home" asp-action="cars">
                        <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/images/car-reviews/first-drives/legacy/large-2479-s-classsaloon.jpg" alt="">
                    </a>
                    <a asp-controller="Home" asp-action="cars"><h2>КАСКО</h2>Свою машину від усіх негаразд</a>

                </div>
            </div>
            <div class="responsive">
                <div class="gallery transform">
                    <a asp-controller="Home" asp-action="medics">
                        <img src="https://gamespot1.cbsistatic.com/uploads/original/1597/15975876/3692856-3648594-scrubs.jpg" alt="">
                    </a>
                    <a asp-controller="Home" asp-action="medics"> <h2>Медстрахування</h2><br>Здоров'я рідних і себе </a>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery transform">
                    <a asp-controller="Home" asp-action="covid">
                        <img src="https://s.mind.ua/img/forall/a/202103/86.jpg?1588067908" alt="">
                    </a>
                    <a asp-controller="Home" asp-action="covid"><h2>КОРОНОЗАХИСТ +</h2><br>Страхування від COVID 19</a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery transform">
                    <a asp-controller="Home" asp-action="autocitizen">
                        <img src="https://ak2.picdn.net/shutterstock/videos/856942/thumb/1.jpg" alt="">
                    </a>
                    <a asp-controller="Home" asp-action="autocitizen"><h2>Автоцивілка</h2><br>Обов'язкове страхування</a>
                </div>
            </div>
           </div>
        </div>

        
        <div class="contacts">
            <div class="cont_info">
                <h2>КОНТАКТИ</h2>
                <span>+38(067)8020266 </span><br>
                <span>+38(062)6347823 </span><br>
                <span>+38(096)7892323 </span><br>
                <span> fichyga@ukr.net</span><br>
                <span> crfich@gmail.com</span><br>
            </div>
        </div>
           
    </body>

